.App {
  text-align: left;
  background-color: rgb(30, 30, 34);
  color: ghostwhite;
  min-height: 100vh;
  overflow: hidden;
  background:
    /* top, transparent black, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    /* bottom, image */
    url(https://lumiere-a.akamaihd.net/v1/images/Death-Star-II_b5760154.jpeg?region=0%2C68%2C2160%2C1080);
}

.navbar {
  background: rgba(0, 0, 0, 0.0) !important;
  border:3px solid rgb(3, 3, 7) !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
